# Creating a dataset containing days of year (with holidays, weekends and Weekdays) and weather.

Day Wise prediction  (Load Data) + weather data + Holiday or Not

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_excel('/content/sfd_2017_2018_2019.xlsx')
df

           date  Max\nTemp (°C)  ...  RH 1730\nIST%           MW
0    2017-01-01            20.3  ...             80  3536.238770
1    2017-01-02            23.2  ...             82  3639.738770
2    2017-01-03            24.3  ...             77  3673.321289
3    2017-01-04            24.0  ...             66  3898.860840
4    2017-01-05            25.2  ...             71  3547.965820
...         ...             ...  ...            ...          ...
1090 2019-12-27            13.4  ...             76  4976.180664
1091 2019-12-28            14.4  ...             83  4708.879395
1092 2019-12-29            13.3  ...             79  4831.750488
1093 2019-12-30            15.8  ...             97  5298.331055
1094 2019-12-31             9.4  ...             69  5244.527832

[1095 rows x 6 columns]

In [ ]:
df = df.set_index("date")
df

            Max\nTemp (°C)  Min\nTemp (°C)  ...  RH 1730\nIST%           MW
date                                        ...
2017-01-01            20.3             9.2  ...             80  3536.238770
2017-01-02            23.2             9.3  ...             82  3639.738770
2017-01-03            24.3             9.5  ...             77  3673.321289
2017-01-04            24.0             8.9  ...             66  3898.860840
2017-01-05            25.2            10.4  ...             71  3547.965820
...                    ...             ...  ...            ...          ...
2019-12-27            13.4             4.2  ...             76  4976.180664
2019-12-28            14.4             2.4  ...             83  4708.879395
2019-12-29            13.3             3.1  ...             79  4831.750488
2019-12-30            15.8             2.6  ...             97  5298.331055
2019-12-31             9.4             4.8  ...             69  5244.527832

[1095 rows x 5 columns]

In [ ]:
df['day'] = 0
df

            Max\nTemp (°C)  Min\nTemp (°C)  ...           MW  day
date                                        ...
2017-01-01            20.3             9.2  ...  3536.238770    0
2017-01-02            23.2             9.3  ...  3639.738770    0
2017-01-03            24.3             9.5  ...  3673.321289    0
2017-01-04            24.0             8.9  ...  3898.860840    0
2017-01-05            25.2            10.4  ...  3547.965820    0
...                    ...             ...  ...          ...  ...
2019-12-27            13.4             4.2  ...  4976.180664    0
2019-12-28            14.4             2.4  ...  4708.879395    0
2019-12-29            13.3             3.1  ...  4831.750488    0
2019-12-30            15.8             2.6  ...  5298.331055    0
2019-12-31             9.4             4.8  ...  5244.527832    0

[1095 rows x 6 columns]

In [ ]:
holiday_df = pd.read_csv('/content/STLF-holidays-Numbered.csv')
holiday_df

            date  occasion
0     2017-01-01         2
1     2017-01-02         0
2     2017-01-03         0
3     2017-01-04         0
4     2017-01-05         2
...          ...       ...
1090  2019-12-27         0
1091  2019-12-28         1
1092  2019-12-29         1
1093  2019-12-30         0
1094  2019-12-31         0

[1095 rows x 2 columns]

In [ ]:
holiday_df = holiday_df.set_index("date")
holiday_df

            occasion
date
2017-01-01         2
2017-01-02         0
2017-01-03         0
2017-01-04         0
2017-01-05         2
...              ...
2019-12-27         0
2019-12-28         1
2019-12-29         1
2019-12-30         0
2019-12-31         0

[1095 rows x 1 columns]

In [ ]:
for index, row in holiday_df.iterrows():
  df.loc[index, 'day'] = row[0]

In [ ]:
df

            Max\nTemp (°C)  Min\nTemp (°C)  ...           MW  day
date                                        ...
2017-01-01            20.3             9.2  ...  3536.238770    2
2017-01-02            23.2             9.3  ...  3639.738770    0
2017-01-03            24.3             9.5  ...  3673.321289    0
2017-01-04            24.0             8.9  ...  3898.860840    0
2017-01-05            25.2            10.4  ...  3547.965820    2
...                    ...             ...  ...          ...  ...
2019-12-27            13.4             4.2  ...  4976.180664    0
2019-12-28            14.4             2.4  ...  4708.879395    1
2019-12-29            13.3             3.1  ...  4831.750488    1
2019-12-30            15.8             2.6  ...  5298.331055    0
2019-12-31             9.4             4.8  ...  5244.527832    0

[1095 rows x 6 columns]

In [ ]:
df.to_csv('load-weather-holiday-data.csv')

# Creating a dataset containing day wise analysis

In [4]:
import numpy as np
import pandas as pd

In [5]:
df = pd.read_excel('/content/DAY-WISE-HOURLY-LOAD.xlsx')
df

                          DATE           MW
0         1/1/2017 12:00:00 AM  1815.571045
1          1/1/2017 1:00:00 AM  1576.699585
2          1/1/2017 2:00:00 AM  1428.967896
3          1/1/2017 3:00:00 AM  1356.272705
4          1/1/2017 4:00:00 AM  1354.029175
...                        ...          ...
35059    12/31/2020 7:00:00 PM  3797.245850
35060    12/31/2020 8:00:00 PM  3576.340820
35061    12/31/2020 9:00:00 PM  3327.022217
35062   12/31/2020 10:00:00 PM  3059.243408
35063   12/31/2020 11:00:00 PM  2695.267578

[35064 rows x 2 columns]

## Data Cleaning
### Removing 2020+ year data

In [10]:
df.describe

<bound method NDFrame.describe of                           DATE           MW
0         1/1/2017 12:00:00 AM  1815.571045
1          1/1/2017 1:00:00 AM  1576.699585
2          1/1/2017 2:00:00 AM  1428.967896
3          1/1/2017 3:00:00 AM  1356.272705
4          1/1/2017 4:00:00 AM  1354.029175
...                        ...          ...
35059    12/31/2020 7:00:00 PM  3797.245850
35060    12/31/2020 8:00:00 PM  3576.340820
35061    12/31/2020 9:00:00 PM  3327.022217
35062   12/31/2020 10:00:00 PM  3059.243408
35063   12/31/2020 11:00:00 PM  2695.267578

[35064 rows x 2 columns]>

In [18]:
df2 = df.loc[0:26279]
df

                          DATE           MW
0         1/1/2017 12:00:00 AM  1815.571045
1          1/1/2017 1:00:00 AM  1576.699585
2          1/1/2017 2:00:00 AM  1428.967896
3          1/1/2017 3:00:00 AM  1356.272705
4          1/1/2017 4:00:00 AM  1354.029175
...                        ...          ...
35059    12/31/2020 7:00:00 PM  3797.245850
35060    12/31/2020 8:00:00 PM  3576.340820
35061    12/31/2020 9:00:00 PM  3327.022217
35062   12/31/2020 10:00:00 PM  3059.243408
35063   12/31/2020 11:00:00 PM  2695.267578

[35064 rows x 2 columns]

In [31]:
df2['DATE'] = pd.to_datetime(df2.DATE)
df2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                     DATE           MW
0     2017-01-01 00:00:00  1815.571045
1     2017-01-01 01:00:00  1576.699585
2     2017-01-01 02:00:00  1428.967896
3     2017-01-01 03:00:00  1356.272705
4     2017-01-01 04:00:00  1354.029175
...                   ...          ...
26275 2019-12-31 19:00:00  4157.812988
26276 2019-12-31 20:00:00  4008.450439
26277 2019-12-31 21:00:00  3757.650391
26278 2019-12-31 22:00:00  3556.840576
26279 2019-12-31 23:00:00  3132.845947

[26280 rows x 2 columns]

In [32]:
df2.to_csv('1-hour-load-data.csv')

# Creating a dataset containing hour based analysis, weather detail and Holiday.

Day analysis + Weather + Holiday

In [110]:
import numpy as np
import pandas as pd

In [111]:
df_hour = pd.read_excel('/content/1-hour-load-data.xlsx')
df_hour

                     DATE           MW
0     2017-01-01 00:00:00  1815.571045
1     2017-01-01 01:00:00  1576.699585
2     2017-01-01 02:00:00  1428.967896
3     2017-01-01 03:00:00  1356.272705
4     2017-01-01 04:00:00  1354.029175
...                   ...          ...
26275 2019-12-31 19:00:00  4157.812988
26276 2019-12-31 20:00:00  4008.450439
26277 2019-12-31 21:00:00  3757.650391
26278 2019-12-31 22:00:00  3556.840576
26279 2019-12-31 23:00:00  3132.845947

[26280 rows x 2 columns]

In [112]:
df = pd.read_excel('/content/8-day-load-weather-holiday-data.xlsx')
df

           date  max-temp  min-temp  RH-0830  RH-1730           MW  day
0    2017-01-01      20.3       9.2      100       80  3536.238770    2
1    2017-01-02      23.2       9.3      100       82  3639.738770    0
2    2017-01-03      24.3       9.5      100       77  3673.321289    0
3    2017-01-04      24.0       8.9       97       66  3898.860840    0
4    2017-01-05      25.2      10.4       97       71  3547.965820    2
...         ...       ...       ...      ...      ...          ...  ...
1090 2019-12-27      13.4       4.2       86       76  4976.180664    0
1091 2019-12-28      14.4       2.4      100       83  4708.879395    1
1092 2019-12-29      13.3       3.1       94       79  4831.750488    1
1093 2019-12-30      15.8       2.6      100       97  5298.331055    0
1094 2019-12-31       9.4       4.8       91       69  5244.527832    0

[1095 rows x 7 columns]

In [113]:
df.set_index('date', inplace=True)
df.drop(columns='MW', inplace=True)

In [114]:
df

            max-temp  min-temp  RH-0830  RH-1730  day
date
2017-01-01      20.3       9.2      100       80    2
2017-01-02      23.2       9.3      100       82    0
2017-01-03      24.3       9.5      100       77    0
2017-01-04      24.0       8.9       97       66    0
2017-01-05      25.2      10.4       97       71    2
...              ...       ...      ...      ...  ...
2019-12-27      13.4       4.2       86       76    0
2019-12-28      14.4       2.4      100       83    1
2019-12-29      13.3       3.1       94       79    1
2019-12-30      15.8       2.6      100       97    0
2019-12-31       9.4       4.8       91       69    0

[1095 rows x 5 columns]

In [115]:
df_hour['max-temp'] = 0
df_hour['min-temp'] = 0
df_hour['RH-0830'] = 0
df_hour['RH-1730'] = 0
df_hour

                     DATE           MW  max-temp  min-temp  RH-0830  RH-1730
0     2017-01-01 00:00:00  1815.571045         0         0        0        0
1     2017-01-01 01:00:00  1576.699585         0         0        0        0
2     2017-01-01 02:00:00  1428.967896         0         0        0        0
3     2017-01-01 03:00:00  1356.272705         0         0        0        0
4     2017-01-01 04:00:00  1354.029175         0         0        0        0
...                   ...          ...       ...       ...      ...      ...
26275 2019-12-31 19:00:00  4157.812988         0         0        0        0
26276 2019-12-31 20:00:00  4008.450439         0         0        0        0
26277 2019-12-31 21:00:00  3757.650391         0         0        0        0
26278 2019-12-31 22:00:00  3556.840576         0         0        0        0
26279 2019-12-31 23:00:00  3132.845947         0         0        0        0

[26280 rows x 6 columns]

In [126]:
# IMPORTANT
# df_hour.loc[2, 'MW'] = 2

                     DATE           MW  max-temp  min-temp  RH-0830  RH-1730
0     2017-01-01 00:00:00  1815.571045         0         0        0        0
1     2017-01-01 01:00:00  1576.699585         0         0        0        0
2     2017-01-01 02:00:00     2.000000         0         0        0        0
3     2017-01-01 03:00:00  1356.272705         0         0        0        0
4     2017-01-01 04:00:00  1354.029175         0         0        0        0
...                   ...          ...       ...       ...      ...      ...
26275 2019-12-31 19:00:00  4157.812988         0         0        0        0
26276 2019-12-31 20:00:00  4008.450439         0         0        0        0
26277 2019-12-31 21:00:00  3757.650391         0         0        0        0
26278 2019-12-31 22:00:00  3556.840576         0         0        0        0
26279 2019-12-31 23:00:00  3132.845947         0         0        0        0

[26280 rows x 6 columns]

In [127]:
# Expensive Operation

for index, row in df_hour.iterrows():
  temp_date = str(df_hour.loc[index].DATE)[0:10]
  
  # Extracting field info from "df_hour" dataset using date field

  MAX_TEMP = df.loc[temp_date, 'max-temp']
  MIN_TEMP = df.loc[temp_date, 'min-temp']
  RH1 = df.loc[temp_date, 'RH-0830']
  RH2 = df.loc[temp_date, 'RH-1730']
  DAY = df.loc[temp_date, 'day']

  # Assigning the data in the "df" dataset

  df_hour.loc[index, 'max-temp'] = MAX_TEMP
  df_hour.loc[index, 'min-temp'] = MIN_TEMP
  df_hour.loc[index, 'RH-0830'] = RH1
  df_hour.loc[index, 'RH-1730'] = RH2
  df_hour.loc[index, 'day'] = DAY

In [128]:
df_hour

                     DATE           MW  max-temp  ...  RH-0830  RH-1730  day
0     2017-01-01 00:00:00  1815.571045      20.3  ...    100.0     80.0  2.0
1     2017-01-01 01:00:00  1576.699585      20.3  ...    100.0     80.0  2.0
2     2017-01-01 02:00:00     2.000000      20.3  ...    100.0     80.0  2.0
3     2017-01-01 03:00:00  1356.272705      20.3  ...    100.0     80.0  2.0
4     2017-01-01 04:00:00  1354.029175      20.3  ...    100.0     80.0  2.0
...                   ...          ...       ...  ...      ...      ...  ...
26275 2019-12-31 19:00:00  4157.812988       9.4  ...     91.0     69.0  0.0
26276 2019-12-31 20:00:00  4008.450439       9.4  ...     91.0     69.0  0.0
26277 2019-12-31 21:00:00  3757.650391       9.4  ...     91.0     69.0  0.0
26278 2019-12-31 22:00:00  3556.840576       9.4  ...     91.0     69.0  0.0
26279 2019-12-31 23:00:00  3132.845947       9.4  ...     91.0     69.0  0.0

[26280 rows x 7 columns]

In [130]:
df_hour.to_csv('7-hour-load-weather-holiday-data.csv')