# Creating a Dataset containing days of year with holidays, weekends and Weekdays.


Convention to be followed:

* 0 - Weekdays (M-F) 
* 1 - Weekends (S, S) 
* 2 - Public Holidays 

#### Result CSV File 
https://vitbhopalacin-my.sharepoint.com/:x:/g/personal/abhishek_srivastava2019_vitbhopal_ac_in/EQvjub1Rlf9Ig-lyw4lrI6EB76TjQ1OREhGxv5SvM4fwLg?e=MNf2rS

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
index = pd.date_range(start='2017-01-01', end='2019-12-31')
index

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2019-12-22', '2019-12-23', '2019-12-24', '2019-12-25',
               '2019-12-26', '2019-12-27', '2019-12-28', '2019-12-29',
               '2019-12-30', '2019-12-31'],
              dtype='datetime64[ns]', length=1095, freq='D')

In [ ]:
N = len(index)
N

1095

In [ ]:
df = pd.DataFrame(np.random.randn(N, 1), index=index, columns=['occasion'])
df['occasion'] = 0 # initally assigning all as Weekdays
df

            occasion
2017-01-01         0
2017-01-02         0
2017-01-03         0
2017-01-04         0
2017-01-05         0
...              ...
2019-12-27         0
2019-12-28         0
2019-12-29         0
2019-12-30         0
2019-12-31         0

[1095 rows x 1 columns]

In [ ]:
df.index.name = 'date'
df

            occasion
date
2017-01-01         0
2017-01-02         0
2017-01-03         0
2017-01-04         0
2017-01-05         0
...              ...
2019-12-27         0
2019-12-28         0
2019-12-29         0
2019-12-30         0
2019-12-31         0

[1095 rows x 1 columns]

In [ ]:
# initally assigning all as Weekends
df['occasion'] = ((pd.DatetimeIndex(df.index).dayofweek) // 5 == 1).astype(float) == 1
df['occasion'] = np.where(df['occasion'] == True, 1, 0)
df

            occasion
date
2017-01-01         1
2017-01-02         0
2017-01-03         0
2017-01-04         0
2017-01-05         0
...              ...
2019-12-27         0
2019-12-28         1
2019-12-29         1
2019-12-30         0
2019-12-31         0

[1095 rows x 1 columns]

## Till now we have added weekend (1) and weekdays (0), now we'll work on adding festival holidays (2). 

We have cvs file containing data, we'll convert data in desired format and add it in the existing dataset.

In [ ]:
holiday_df = pd.read_excel('/content/holidays-stlf.xlsx')
holiday_df

              Date
0        1 Jan 17
1        5 Jan 17
2       14 Jan 17
3       14 Jan 17
4       26 Jan 17
..             ...
141  Nov 10, 2019
142  Nov 12, 2019
143  Nov 24, 2019
144  Dec 24, 2019
145  Dec 25, 2019

[146 rows x 1 columns]

## Side Methods: Pandas

```

holiday_df['Date'] = pd.to_datetime(holiday_df['Date'])

df[1] = df[1].apply(lambda x: x + 1)

holiday_df['Date']
holiday_df['Date'] = holiday_df['Date'].apply(lambda x: pd.to_datetime(x))
holiday_df['Date'] = holiday_df['Date'].map(lambda a: a)


st1 = '2020-02-01'
st2 = '19 Feb 2018'
new_date = pd.to_datetime(st2)
new_date


df.__delitem__('column')
```

In [ ]:
holiday_df = holiday_df.apply(lambda x: pd.to_datetime(x))
holiday_df

          Date
0   2017-01-01
1   2017-01-05
2   2017-01-14
3   2017-01-14
4   2017-01-26
..         ...
141 2019-11-10
142 2019-11-12
143 2019-11-24
144 2019-12-24
145 2019-12-25

[146 rows x 1 columns]

## Now holiday_df is ready to be merged with original df dataset

In [ ]:
df.head

<bound method NDFrame.head of             occasion
date
2017-01-01         1
2017-01-02         0
2017-01-03         0
2017-01-04         0
2017-01-05         0
...              ...
2019-12-27         0
2019-12-28         1
2019-12-29         1
2019-12-30         0
2019-12-31         0

[1095 rows x 1 columns]>

In [ ]:
for index, row in holiday_df.iterrows():
  temp_date = str(row['Date'])[0:10]
  df.loc[temp_date]['occasion'] = 2

In [ ]:
df.head(200)

            occasion
date
2017-01-01         2
2017-01-02         0
2017-01-03         0
2017-01-04         0
2017-01-05         2
...              ...
2017-07-15         1
2017-07-16         1
2017-07-17         0
2017-07-18         0
2017-07-19         0

[200 rows x 1 columns]

In [ ]:
df.to_csv('holidays.csv')